#picture__input
{
    display: none;
}

.picture
{
    width: 400px;
    aspect-ratio: 16/9;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-family: sans-serif;
    border: 2px dashed #aaa;
    margin: 10px;
    cursor: pointer;
    transition: color 300ms ease-in-out, background 300ms ease-in-out,outline 300ms ease-in-out;
    outline: none;
}

.picture:hover
{
    color: #777;
    background: #ccc;
}

.picture:active
{
    color: turquoise;
    border-color: turquoise;
    background: #eee;
}
.picture:focus
{
    outline: 2px solid #777;
    box-shadow: 0 0 10px turquoise;

}

.picture__img
{
    max-width: 100%;
}

.botao
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 0px;
    background-color: aqua;
    border: 0.5px #eee;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    font-family: sans-serif;
    color: #fff;
    transition: .6s ease-in-out;
    cursor: pointer;
}

.botao:hover
{
    background: rgb(132, 172, 248);
    color: #ccc;
}

